:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}
html, body {

  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
p {
  margin: 4px 0 4px 0;
}



ul {
  padding-left: 8px;
  font-size: 13px;
  margin-left: 8px;
}
fieldset {
  border-radius: 4px;
}

#app {
  height: 100%;
}
.swap-move,
.swap-enter-active,
.swap-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.swap-enter-from,
.swap-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.swap-leave-active {
  position: absolute;
}